*.env
COVID_data_collection/src/
COVID_data_collection/run_daily.sh
COVID_data_collection/chromedriver
COVID_data_collection/chromedriver_linux64.zip
COVID_data_collection/covidvenv/
COVID_data_collection/geckodriver
COVID_data_collection/geckodriver-v0.26.0-linux32.tar.gz
COVID_data_collection/geckodriver-v0.26.0-linux64.tar.gz
COVID_data_collection/stdouterr_add_to_time_series.txt
COVID_data_collection/stdouterr_collect_data.txt
COVID_data_collection/stdouterr_collect_global_data.txt
